[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "git/gitignore-templates"]
	path = git/gitignore-templates
	url = git@github.com:github/gitignore.git
[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
